In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/police/police.csv

In [9]:
df = pd.read_csv("/kaggle/input/police/police.csv")
df.head(10)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [10]:
list(df.columns)

['stop_date',
 'stop_time',
 'county_name',
 'driver_gender',
 'driver_age_raw',
 'driver_age',
 'driver_race',
 'violation_raw',
 'violation',
 'search_conducted',
 'search_type',
 'stop_outcome',
 'is_arrested',
 'stop_duration',
 'drugs_related_stop']

In [11]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [12]:
df = df.drop('county_name', axis = 1)
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [14]:
df_to_array = df[['driver_gender', 'driver_age', 'violation_raw', 'drugs_related_stop', 'is_arrested', 'stop_date', 'stop_time']].copy()
df_to_array

,driver_gender,driver_age,violation_raw,drugs_related_stop,is_arrested,stop_date,stop_time
0,M,20.0,Speeding,False,False,2005-01-02,01:55
1,M,40.0,Speeding,False,False,2005-01-18,08:15
2,M,33.0,Speeding,False,False,2005-01-23,23:15
3,M,19.0,Call for Service,False,True,2005-02-20,17:15
4,F,21.0,Speeding,False,False,2005-03-14,10:00
...,...,...,...,...,...,...,...
91736,M,29.0,Speeding,False,False,2015-12-31,20:27
91737,F,33.0,Equipment/Inspection Violation,False,False,2015-12-31,20:35
91738,M,23.0,Other Traffic Violation,False,False,2015-12-31,20:45
91739,M,22.0,Speeding,False,False,2015-12-31,21:42
91740,M,56.0,Speeding,False,False,2015-12-31,22:46

In [16]:
df_to_array.loc["20050101":"20080430", ['driver_gender', 'driver_age', 'stop_date']]

      driver_gender  driver_age   stop_date
20051             M        29.0  2007-09-10
20052             F        27.0  2007-09-10
20053             M        24.0  2007-09-10
20054           NaN         NaN  2007-09-10
20055             M        21.0  2007-09-10
20056             M        29.0  2007-09-10
20057             M        28.0  2007-09-10
20058             M        39.0  2007-09-10
20059             M        25.0  2007-09-10
20060             M        23.0  2007-09-10
20061             M        40.0  2007-09-10
20062             F        21.0  2007-09-10
20063             M        20.0  2007-09-10
20064             M        20.0  2007-09-10
20065             M        19.0  2007-09-10
20066             F        18.0  2007-09-10
20067             F        24.0  2007-09-10
20068             M        21.0  2007-09-10
20069             M        52.0  2007-09-10
20070             F        22.0  2007-09-10
20071             M        52.0  2007-09-10
20072             M        37.0  2007-09-10
20073             F        48.0  2007-09-10
20074             M        25.0  2007-09-10
20075             M        29.0  2007-09-10
20076             F        23.0  2007-09-10
20077             F        63.0  2007-09-10
20078             M        51.0  2007-09-10
20079             M        54.0  2007-09-11
20080             M        22.0  2007-09-11

In [17]:
df_to_array[0:1000]

,driver_gender,driver_age,violation_raw,drugs_related_stop,is_arrested,stop_date,stop_time
0,M,20.0,Speeding,False,False,2005-01-02,01:55
1,M,40.0,Speeding,False,False,2005-01-18,08:15
2,M,33.0,Speeding,False,False,2005-01-23,23:15
3,M,19.0,Call for Service,False,True,2005-02-20,17:15
4,F,21.0,Speeding,False,False,2005-03-14,10:00
...,...,...,...,...,...,...,...
995,M,53.0,Speeding,False,False,2005-11-04,23:05
996,M,20.0,Other Traffic Violation,False,False,2005-11-04,23:15
997,M,46.0,Other Traffic Violation,False,False,2005-11-04,23:30
998,M,46.0,Other Traffic Violation,False,True,2005-11-04,23:30
999,M,17.0,Speeding,False,False,2005-11-05,01:30

In [19]:
df_to_array.loc[:, ['driver_gender', 'is_arrested', 'violation_raw']]

      driver_gender is_arrested                   violation_raw
0                 M       False                        Speeding
1                 M       False                        Speeding
2                 M       False                        Speeding
3                 M        True                Call for Service
4                 F       False                        Speeding
...             ...         ...                             ...
91736             M       False                        Speeding
91737             F       False  Equipment/Inspection Violation
91738             M       False         Other Traffic Violation
91739             M       False                        Speeding
91740             M       False                        Speeding

[91741 rows x 3 columns]

In [32]:
df_to_array[df_to_array["driver_age"] >= 28]

,driver_gender,driver_age,violation_raw,drugs_related_stop,is_arrested,stop_date,stop_time
1,M,40.0,Speeding,False,False,2005-01-18,08:15
2,M,33.0,Speeding,False,False,2005-01-23,23:15
6,M,36.0,Speeding,False,False,2005-04-01,17:30
8,M,35.0,Speeding,False,False,2005-07-13,10:15
9,M,35.0,Speeding,False,False,2005-07-13,15:45
...,...,...,...,...,...,...,...
91732,F,46.0,Speeding,False,False,2015-12-31,19:44
91733,F,41.0,Registration Violation,False,False,2015-12-31,19:55
91736,M,29.0,Speeding,False,False,2015-12-31,20:27
91737,F,33.0,Equipment/Inspection Violation,False,False,2015-12-31,20:35
91740,M,56.0,Speeding,False,False,2015-12-31,22:46

In [33]:
df_new = df_to_array[:9].copy()
df_new["new_column"] = ["one", "two", "three", "four", "five", "six", "seven", "eight","nine"]
df_new

,driver_gender,driver_age,violation_raw,drugs_related_stop,is_arrested,stop_date,stop_time,new_column
0,M,20.0,Speeding,False,False,2005-01-02,01:55,one
1,M,40.0,Speeding,False,False,2005-01-18,08:15,two
2,M,33.0,Speeding,False,False,2005-01-23,23:15,three
3,M,19.0,Call for Service,False,True,2005-02-20,17:15,four
4,F,21.0,Speeding,False,False,2005-03-14,10:00,five
5,M,23.0,Equipment/Inspection Violation,False,False,2005-03-23,09:45,six
6,M,36.0,Speeding,False,False,2005-04-01,17:30,seven
7,F,19.0,Speeding,False,False,2005-06-06,13:20,eight
8,M,35.0,Speeding,False,False,2005-07-13,10:15,nine

In [51]:
df_to_array[df_to_array["violation_raw"] == "Speeding"]

,driver_gender,driver_age,violation_raw,drugs_related_stop,is_arrested,stop_date,stop_time
0,M,20.0,Speeding,False,False,2005-01-02,01:55
1,M,40.0,Speeding,False,False,2005-01-18,08:15
2,M,33.0,Speeding,False,False,2005-01-23,23:15
4,F,21.0,Speeding,False,False,2005-03-14,10:00
6,M,36.0,Speeding,False,False,2005-04-01,17:30
...,...,...,...,...,...,...,...
91734,M,22.0,Speeding,False,False,2015-12-31,20:20
91735,M,23.0,Speeding,False,False,2015-12-31,20:25
91736,M,29.0,Speeding,False,False,2015-12-31,20:27
91739,M,22.0,Speeding,False,False,2015-12-31,21:42
91740,M,56.0,Speeding,False,False,2015-12-31,22:46